*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.logo{
    max-width: 100px;
}

.logo img{
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;

    max-width: 1230px;
    margin-inline: auto;
    padding-left: 15px;
    padding-right: 15px;

    /* border: 1px solid red; */
}
.header{
    height: 124px;
    border: 1px solid red;
}
.header-box{
    border: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main{

}

.footer{
    height: 156px;
    border: 1px solid red;
}

.footer-box{
    border: 1px solid #000;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    display: flex;
    flex-grow: 1;
}